<div id="viewHorseByOwner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="ownersHorse-container">
                    <h3>Owner Username: {{user}}</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Horse Name</th>
                                <th>Age</th>
                                <th>Speed</th>
                                <th>Endurance</th>
                                <th>Reliability</th>
                                <th>Acceleration</th>
                                {{#if isOwner}}
                                    <th>Retire Horse?</th>
                                {{/if}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#horses}}
                            <tr>
                                {{!-- {{#each }} --}}
                                <td><a href="/horses/horse/{{id}}">{{horse_name}}</a></td>
                                <td>{{age}}</td>
                                <td>{{speed}}</td>
                                <td>{{endurance}}</td>
                                <td>{{reliability}}</td>
                                <td>{{acceleration}}</td>
                                {{#if ../isOwner}}
                                    <td>
                                        <button type="button" id="{{id}}" class="btn btn-danger deleteButton">X</button>
                                    </td>
                                {{/if}}
                                {{!-- {{/each}} --}}
                            </tr>
                            {{/horses}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
