<div id="viewHorseByOwner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ownersHorse-container">
                    <h3>Owner Username: {{user}}</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Horse Name</th>
                                <th style="text-align:center">Age</th>
                                <th style="text-align:center">Speed</th>
                                <th style="text-align:center">Endurance</th>
                                <th style="text-align:center">Reliability</th>
                                <th style="text-align:center">Acceleration</th>
                                {{#if isOwner}}
                                    <th>Retire Horse?</th>
                                {{/if}}
                            </tr>
                        </thead>
                        {{!-- Pull in the horse json data for each horse using handlebars --}}
                        <tbody>
                            {{#horses}}
                            <tr>
                                {{!-- {{#each }} --}}
                                <td><a href="/horses/horse/{{id}}">{{horse_name}}</a></td>
                                <td style="text-align:center">{{age}}</td>
                                <td style="text-align:center">{{speed}}</td>
                                <td style="text-align:center">{{endurance}}</td>
                                <td style="text-align:center">{{reliability}}</td>
                                <td style="text-align:center">{{acceleration}}</td>
                                {{#if ../isOwner}}
                                    <td>
                                        <button type="button" id="{{id}}" class="btn btn-danger deleteButton">X</button>
                                    </td>
                                {{/if}}
                                {{!-- {{/each}} --}}
                            </tr>
                            {{/horses}}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
